.main-section {
    margin: 0 auto;
    margin-top: 80px;
    padding: 0;
}
.modal-content {
    background-color: #3F704D;
    padding: 0 18px;
    border-radius: 10px;
}
.lelogo {
    margin-top: -60px;
    margin-bottom: 45px;
}